body {
  padding: 0 20px;
  max-width: 50em;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  clear: both;
}

h4 span {
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

img.headshot {
  width: 200px;
  height: 212px;
  margin: 1em 1em 1em 0;
}
img.headshot, section.header {
  float: left;
}
section.header .cv {
  font-family: "Montserrat", sans-serif;
  display: block;
  padding-top: 0.4em;
}

ul.papers {
  margin-top: 0;
}
ul.papers li {
  padding: 0.7em 0;
}
ul.papers li:first-of-type {
  padding-top: 0;
}
ul.papers h4 {
  margin: 0;
}
ul.papers em {
  display: block;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  margin-bottom: 0.5em;
}
h6 {
  font-size: 1em;
}
.inline {
  display: inline;
}
ul.inline li {
  display: inline;
  padding: 0 0 0 1em;
}

img.blackboard {
  margin: 3em 0;
  width: 35em;
  max-width: 100%;
}

@media only screen and (max-width:37.5em) { 
  img.headshot {
    display: block;
    float: none;
    margin: 1em auto;
  }
}
